<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/Article"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= render 'layouts/part1' %>
<style type="text/css"></style><style type="text/css"></style></head>
<body class="main">
    <%= render 'layouts/first-display' %>
    <%= render 'layouts/dangerous-seem' %>
    <%= render 'layouts/part3' %>
    <%= render 'layouts/part4' %>
    <%= render 'layouts/part5' %>
    <%= render 'layouts/script-part' %>
</body></html>